<head><link type="text/css" rel="stylesheet" href="stylesheet.css"/></head>

<table>
	
	    <thead>
	        <th>fotos</th>
	    </thead>
	        <tr>
	            <td>
	              <a href="http://nationalgeographic.es">  <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-1.jpg?itok=HeExgAH9"></img></a>
	            </td>
	            <td>
	           <a href="http://nationalgeographic.es">  <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-2.jpg?itok=Eddw_DfR"></img></a>
	            </td>
	            <td>
	              <a href="http://nationalgeographic.es">   <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-3.jpg?itok=Vy0rDDCa"></img></a>
	            </td>
	        </tr>
	        <tr>
	            <td>
	             <a href="http://nationalgeographic.es">    <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-4.jpg?itok=g8eGp6uY"></img></a>
	            </td>
	            <td>
	              <a href="http://nationalgeographic.es">   <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-5.jpg?itok=S6YXlO19"></img></a>
	            </td>
	            <td>
	               <a href="http://nationalgeographic.es">  <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-6.jpg?itok=EmBkULxa"></img></a>
	            </td>
	        </tr>
	            
	        <tr>
	            <td>
	             <a href="http://nationalgeographic.es">    <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-7.jpg?itok=aucV5i9j"><img></a>
	            </td>
	            <td>
	              <a href="http://nationalgeographic.es">   <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-8.jpg?itok=TWMHNxxT"></img></a>
	            </td>
	            <td>
	               <a href="http://nationalgeographic.es">  <img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Las-25-mejores-fotos-de-la-Tierra-tomadas-por-la-NASA-desde-el-espacio-9.jpg?itok=LhC6ZsM8"></img><a>
	            </td>
	        </tr>
	    </table>
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<body style="background: lime">
<h1 style="color: gold;font-size: 50px;font-family: Courier">hola mundo</font></h1>
<p style="font-size: 20px;color: blue;font-family:Courier"> mi primera web</font></p>
<ul>
<li style="color: red;font-size: 18px;font-family: Verdana"> esta es una imagen </li>

<img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Apuesto-que-no-conocias-estos-15-datos-interesantes-sobre-la-Tierra-10.jpg?itok=uscZMFsm/></img>

</ul>

</body>