
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<body style="background: lime">
<h1 style="color: gold;font-size: 50px;font-family: Courier">hola mundo</font></h1>
<p style="font-size: 20px;color: blue;font-family:Courier"> mi primera web</font></p>
<ul>
<li style="color: red;font-size: 18px;font-family: Verdana"> esta es una imagen </li>

<img src="http://static.batanga.com/sites/default/files/styles/full/public/curiosidades.batanga.com/files/Apuesto-que-no-conocias-estos-15-datos-interesantes-sobre-la-Tierra-10.jpg?itok=uscZMFsm/></img>

</ul>

</body>